<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Records</title>

</head>
<body>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>StudID</th>
        <th>StudFName</th>
        <th>StudLName</th>
        <th>Studage</th>
        <th>StudContact</th>


    </tr>
    </thead>
    <tbody>
{% for stud1 in studentlist %}
    <tr>
        <td>{{ stud1.id }}</td>&nbsp;&nbsp;
        <td>{{ stud1.FirstName }}</td>&nbsp;&nbsp;
        <td>{{ stud1.LastName }}</td>&nbsp;&nbsp;
        <td>{{ stud1.Age }}</td>&nbsp;&nbsp;
        <td>{{ stud1.mobile_number }}</td>&nbsp;&nbsp;

        <td>

        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>

</body>
</html>